<template>
  <div class="timer">
    <Counter />
  </div>
</template>

<script>
import Counter from '@/components/Counter.vue'
export default {
  components: {
    Counter,
  }
}
</script>

<style lang="scss" scoped>
</style>
