<template lang="html">
  <div class="counter">
    <v-row justify="center">
      <v-col cols="11" md="6" class="text-center">
        <span class="hours" v-if="counterFormatted.hours>0">{{counterFormatted.hours}} óra </span>
        <span class="minutes">{{counterFormatted.minutes}} perc</span><br/>
        <v-progress-circular
          v-if="$store.getters.counting && !$store.getters.paused"
          indeterminate
          size=20
          width=2
          color="green"
        >
        </v-progress-circular>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="11" md="6" class="text-center">
        <v-btn @click="startCounter" :disabled="$store.getters.counting && !$store.getters.paused">
          <v-icon>mdi-play</v-icon>
        </v-btn>
        <v-btn @click="pauseCounter" :disabled="!$store.getters.counting">
          <v-icon>mdi-pause</v-icon>
        </v-btn>
        <v-btn @click="stopCounter" :disabled="!$store.getters.counting">
          <v-icon>mdi-stop</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-if="counterList.length>0" justify="center">
      <v-col cols="11" md="6">
        <h2>Az eddig rögzített percek:</h2>
        <ul>
          <li
            v-for="(counteritem,i) in counterList"
            :key="i"
          >
            {{counteritem}} perc
          </li>
        </ul>
        <p>Összesen : {{countersTogether}} perc</p>
        <v-btn @click="clearAll" class="error">
          Összes törlése
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-col>
    </v-row>

  </div>
</template>

<script>
let counterInterval;

export default {
  data(){
    return {
      counterList: []
    }
  },
  computed:{
    counter(){
      return this.$store.getters.counter;
    },
    counterFormatted(){
      let hours, minutes;
      minutes = this.counter;
      if (minutes>=60) {
        hours = Math.floor(minutes/60)
        minutes = minutes - 60*hours
      }
      return { hours, minutes}
    },
    countersTogether(){
      return this.counterList.reduce((a,b)=>a+b, 0)
    }
  },
  methods:{
    startCounter(){
      counterInterval= setInterval(()=>{
        this.$store.dispatch('setCounter', this.counter+1)
      },60*1000 )   //1 min
      this.$store.dispatch('counting', true)
      this.$store.dispatch('paused', false)
    },
    stopCounter(){
      if (this.counter>0) {
        this.counterList.push(this.counter)
      }
      clearInterval(counterInterval);
      this.$store.dispatch('setCounter', 0)
      this.$store.dispatch('counting', false)
      this.$store.dispatch('paused', false)
    },
    pauseCounter(){
      clearInterval(counterInterval);
      this.$store.dispatch('paused', true)
    },
    clearAll(){
      if(confirm('Biztos törölni akarod az eddigieket?')){
        clearInterval(counterInterval);
        this.counterList = []
        this.$store.dispatch('setCounter', 0)
        this.$store.dispatch('counting', false)
        this.$store.dispatch('paused', false)
      }
    }
  },
  beforeDestroy(){
    clearInterval(counterInterval);
  }
}
</script>

<style lang="scss" scoped>
.counter span{
  font-size: 2.5rem;

  &.hours{
    color: blue;
  }
  &.minutes{
    color: green;
  }
}
li{
  font-size: 1rem;
}
</style>
