<template>
  <v-app>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>


export default {
  components: {

  },

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
@import '@/styles/global.scss';
.container > div{
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
</style>
